<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Org details">
  <test thread-count="5" name="Test">
	   <parameter name="username" value="jyothikalingampalli237@gmail.com" />

        <parameter name="password" value="Jyothika@237" />
    <classes>
      <class name="OrganizationalDetails.NonAdminTc"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
